.titolo {
    color: red;
    font-family: impact;
    text-align: center;
}

.titolo-paragrafi {
    color: red;
    font-family: impact;
    text-align: left;
}
.immagine-profilo {
    border-radius: 60%;
    
}
.bottone {
    color: red;
}
input {
    margin-top: 15px;
}
input, p {
    font-weight: bold;
}
